
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>The Recurse Webring</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="/ring.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>The Recurse Webring</h1>
    <h3>A webring for the <a href="https://recurse.com">Recurse Center</a> community</h3>
    <ul>
        {% for site in sites -%}
          {% if site.recurse_id != 0 %}
          <li><a href="{{site.url}}">{{site.website_name}}</a> by {{site.recurse_name}}
            {% if user and user.id == site.recurse_id %}
              <input type='checkbox' style='display: none' id="cb{{loop.index}}">
              <button for="cb{{loop.index}}" type="button">
                <label for="cb{{loop.index}}"> </label>
              </button>
              <div>
                <form action="/sites/update/{{site.website_id}}" method="post">
                    <fieldset>
                      <legend>Website Info</legend>
                        <label for="name">Website Name</label>
                        <input type="text"
                            name="name"
                            id="name"
                            value="{{site.website_name}}"
                        />
                        <label for="domain">Website Domain</label>
                        <input type="url"
                            placeholder="https://... or http://..."
                            name="url"
                            id="url"
                            value="{{site.url}}"
                        />
                        <input type="submit" formenctype="multipart/form-data" value="Update">
                        <input type="submit" formaction="/sites/delete/{{site.website_id}}" formmethod="get" value="Delete">
                    </fieldset>
                </form>
                <p>Now all you need to do is add the anchor link script at <code>https://raw.githack.com/Qwuke/recurse-ring/main/static/ring.js</code> in your header element like so:
                  <br>
                  <code><textarea cols="90" rows="5" readonly>
&lt;html&gt;
    &lt;head&gt;
        &lt;script src="https://raw.githack.com/Qwuke/recurse-ring/main/static/ring.js" type="text/javascript"&gt;&lt;/script&gt;
    &lt;/head&gt;
&lt;/html&gt;</textarea></code>
                </p>
                <p>And then add these 4 HTML elements to the body of your page:
                  <br> 
                  <code><textarea cols="140" rows="4" readonly>
&lt;div&gt;&lt;a id="rc-ring-prev" href="https://ring.recurse.com/prev?id={{site.website_id}}"&gt;Prev&lt;/a&gt;&lt;/div&gt;
&lt;div&gt;&lt;a id="rc-ring-home" data-rc-uuid="{{site.website_uuid}}" href="https://ring.recurse.com/"&gt;The Recurse Webring&lt;/a&gt;&lt;/div&gt;
&lt;div&gt;&lt;a id="rc-ring-rand" href="https://ring.recurse.com/rand"&gt;Random&lt;/a&gt;&lt;/div&gt;
&lt;div&gt;&lt;a id="rc-ring-next" href="https://ring.recurse.com/next?id={{site.website_id}}"&gt;Next&lt;/a&gt;&lt;/div&gt;</textarea></code>
                </p>
                <p>You can customize the elements in anyway you want - change the 'Prev/Next' text to icons, change <code>div</code>'s to <code>marquee</code>'s - as long as the anchor tags (<code>&lt;a&gt;</code>) with their initial HTML id's are still intact!</p>
              </div>
            {% endif %}
            </li>
          {% endif %}
        {%- endfor %}
    </ul>
    {% if user %}
      <br>
      {% if id %}
      <br>
      <br>
      <h2>Awesome! You've added your site to the webring.</h2>

      <br>
      <p>Now all you need to do is add the anchor link script at <code>https://raw.githack.com/Qwuke/recurse-ring/main/static/ring.js</code> in your header element like so:</p>
      <pre><code><textarea cols="90" rows="5" readonly>
&lt;html&gt;
    &lt;head&gt;
        &lt;script src="https://raw.githack.com/Qwuke/recurse-ring/main/static/ring.js" type="text/javascript"&gt;&lt;/script&gt;
    &lt;/head&gt;
&lt;/html&gt;</textarea></code></pre>
      <br>
      <p>And then add these 4 HTML elements to the body of your page: </p>
      <pre><code><textarea cols="140" rows="4" readonly>
&lt;div&gt;&lt;a id="rc-ring-prev" href="https://ring.recurse.com/prev?id={{id}}"&gt;Prev&lt;/a&gt;&lt;/div&gt;
&lt;div&gt;&lt;a id="rc-ring-home" data-rc-uuid="{{uuid_str}}" href="https://ring.recurse.com/"&gt;The Recurse Webring&lt;/a&gt;&lt;/div&gt;
&lt;div&gt;&lt;a id="rc-ring-rand" href="https://ring.recurse.com/rand"&gt;Random&lt;/a&gt;&lt;/div&gt;
&lt;div&gt;&lt;a id="rc-ring-next" href="https://ring.recurse.com/next?id={{id}}"&gt;Next&lt;/a&gt;&lt;/div&gt;</textarea></code></pre>
      <br>
      <p>You can customize the elements in anyway you want - change the 'Prev/Next' text to icons, change <code>div</code>'s to <code>marquee</code>'s - as long as the anchor tags (<code>&lt;a&gt;</code>) with their initial HTML id's are still intact!</p>
      {% endif %}
      <br>
      <h2>Want to add your own site?</h3>
      <form action="/sites/add" method="post" enctype="multipart/form-data">
          <fieldset>
            <legend>Website Info</legend>
              <label for="name">Website Name</label>
              <input type="text"
                  name="name"
                  id="name"
              />
              <label for="domain">Website Domain</label>
              <input type="url"
                  placeholder="https://... or http://..."
                  name="url"
                  id="url"
              />
              <input type="submit" value="Submit">
          </fieldset>
      </form>
      <br>
      <div><a href="/auth/logout">Logout</a></div>
    {% else %}
      <div><a href="/auth/login">Login</a></div>
    {% endif %}
    <br>
    <br>
    <div><a id="rc-ring-prev" href="https://ring.recurse.com/prev?id=0">Previous Site</a></div>
    <div><a id="rc-ring-home" data-rc-uuid="0cccc0a0-fa92-4c1a-8da2-b22817103c36" href="https://ring.recurse.com/">The Recurse Webring</a></div>
    <div><a id="rc-ring-rand" href="https://ring.recurse.com/rand">Random Recurser</a></div>
    <div><a id="rc-ring-next" href="https://ring.recurse.com/next?id=0">Next Site</a></div>
  </body>
</html>